root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
indent_size = 4

[Makefile]
indent_style = tab

[*.{html,js,ts}]
indent_size = 2

[*.{yml,yaml,toml,json,sh}]
indent_size=2

[*.md]
trim_trailing_whitespace = false
