'global':
  'exception-reporting':
    'userId': 'ad18539b-dafe-838d-307c-e7aafaee56c5'
  'welcome':
    'showOnStartup': false
  'core':
    'themes': [
      'atom-dark-ui'
      'monokai'
    ]
  'editor':
    'invisibles': {}
